---
- name: Proxmox Hardening Machine
  hosts: ['pve']
  become: true
  gather_facts: true

  roles:
    - role: set-timezone
      vars:
        input_timezone: "{{ inv_all_timezone }}"
        input_locale: "{{ inv_all_locale }}"
        input_language: "{{ inv_all_language }}"
        input_lc_all: "{{ inv_all_lc_all }}"

    - role: users-management
      vars:
        in_groups: "{{ inv_all_groups }}"
        in_user_accounts: "{{ inv_all_user_accounts }}"
        in_technical_accounts: "{{ inv_all_technical_accounts }}"

    - role: sudo
      vars:
        in_custom_groups: "{{ inv_all_sudo_groups }}"

    - role: set-hostname
      vars:
        in_hostname_fqdn: "{{ fqdn }}"
        in_disable_reboot: false

    - role: ssh-hardening
      vars:
        in_sshd_config: "{{ inv_sshd_config }}"

    - role: install-packages
      vars:
        in_ubuntu_repositories: "{{ inv_group_repositories | default([]) }}"
        in_packages_to_install: "{{ inv_group_packages | default([]) }}"
        in_packages_to_remove: "{{ inv_group_remove_packages | default([]) }}"
